@import "/src/global/variables";

$menu-item-height: 2.75em;
#contextMenu {
  position: absolute;
  bottom: calc(#{$plusHeight} + 10px);
  right: 0;
  width: 14em;
  border-radius: 10px;
  overflow: hidden;
  height: 0;
  transition: $dur height ease, $dur top, $dur left;
  will-change: height;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: none;

  button {
    color: $bg;
    width: 100%;
    border-radius: 0;
    flex-grow: 1;
    font-size: inherit;
    font-size: 0.9em;
    padding: 0;
    background: $dark-bg-1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: $dur background ease;
    padding: 0 0.5em;

    &:hover {
      background: $dark-bg-2;
    }
  }

  .icon {
    width: $menu-item-height;
    height: $menu-item-height;
    display: grid;
    place-items: center;
  }

  &.opened {
    height: calc(var(--items) * #{$menu-item-height});
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.5);
  }

  .delete {
    background: #af5750;

    &:hover {
      background: $red;
    }
  }
}
