@import "/src/global/variables";

.searchBox {
  flex-grow: 1;
  height: 100%;
}

.form {
  height: 100%;
  width: 100%;
}

.path {
  height: 100%;
  width: 100%;
  border-radius: 0;
  display: block;
  position: relative;
  background: transparent;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: $dark-bg-2;
    transition: $dur transform ease;
    transform: scaleX(0);
    transform-origin: left;
    // z-index: -1;
  }

  &:focus-within:before {
    transform: scaleX(1);
  }

  input {
    z-index: 1;
    color: white;
    font-family: monospace;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: $headerHeight;
    font-size: 1.5em;
    background: transparent;
    top: 0;
    left: 0;

    &:focus {
      box-shadow: none;
    }
  }
}

$suggestHeight: 1.8;
$radius: 5px;
$shadow: rgba(0, 0, 0, 0.5);

.results {
  background: $dark-bg-1;
  border-radius: 0 0 $radius $radius;
  width: 100%;
  transition: $dur * 2 height ease, $dur * 2 padding ease;
  height: 0;
  padding: 0 $radius * 2;
  overflow: hidden;
  text-overflow: hidden;
  margin: 0 auto;
  position: relative;

  &::before {
    position: absolute;
    width: calc(100% - #{$radius * 4});
    content: " ";
    height: #{$suggestHeight}em;
    border-radius: $radius;
    transform: translateY(calc(100% * var(--position)));
    background: $dark-bg-2;
    z-index: 1;
    transition: $dur transform ease;
  }

  & > * {
    height: #{$suggestHeight}em;
    line-height: $suggestHeight;
    border-radius: $radius;
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
    background: transparent;
    position: relative;
    z-index: 2;
    padding-left: 5px;

    &:hover {
      background: $dark-bg-2;
    }
  }
}

.resultsOpen {
  height: calc(var(--items) * #{$suggestHeight}em + #{$radius} * 4);
  padding: $radius * 2;
  box-shadow: 1px 2px 5px 2px $shadow;
}
