$dark-bg: #1d1f24;
$dark-bg-1: #282c34;
$dark-bg-2: #343b47;
$color: #111111;
$bg: #f0f0f0;
$radius: 5px;
$dur: 200ms;
$red: rgb(202, 72, 58);
$green: rgb(46, 204, 113);
$box-radius: 1.25em;
$headerHeight: 3.5em;
$headerOpen: calc(#{$headerHeight} * 4);
$sepColor: #dadada;
