$dark-bg: #1d1f24;
$dark-bg-1: #282c34;
$dark-bg-2: #343b47;
$color: #111111;
$bg-2: #c0c0c0;
$bg-1: #cccbcb;
$bg: #dadada;
$radius: 5px;
$dur: 200ms;
$red: rgb(202, 72, 58);
$green: rgb(46, 204, 113);
$box-radius: 1.25em;
$headerHeight: 3.5em;
$sidebarOpen: calc(#{$headerHeight} * 4);
$sepColor: #dadada;
$terminalClosed: 2.5em;
$terminalOpened: 15em;
$plusHeight: 2.5em;
$accent: #286baa;
