@import "/src/global/variables";

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.files {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.loading {
  position: absolute;
}
