@import "/src/global/variables";

$terminalDur: 400ms;

.terminal {
  width: 100%;
  transition: $terminalDur height ease;
  height: $terminalClosed;
  background: $dark-bg-2;
  color: $bg;
  will-change: height;
  // display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;

  &.opened {
    height: $terminalOpened;
    .toggleBtn div {
      transform: rotate(180deg);
    }
  }
}

.topPart {
  height: $terminalClosed;
  width: 100%;
  background: $dark-bg;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  p {
    flex-grow: 1;
    padding-left: 0.5em;
    height: 100%;
    line-height: $terminalClosed;
    user-select: none;
  }

  & > button {
    width: $terminalClosed;
    height: $terminalClosed;
    background: inherit;
    font-size: inherit;
    color: inherit;

    &:hover {
      background: $dark-bg-2;
    }

    &,
    & > div {
      display: grid;
      place-items: center;
    }
  }
}

.closeBtn:hover {
  color: $red;
}

.toggleBtn div {
  transition: $terminalDur transform ease;
}

.content {
  height: $terminalOpened - $terminalClosed;
  width: 100% !important;
  padding: 0.5em !important;
}

.xterm {
  background: $dark-bg-2 !important;
  height: 100%;
  * > div,
  * > * > div {
    background: $dark-bg-2 !important;
  }
}
