@import "/src/global/variables";
$permissionWidth: 8em;
$permissionPadding: 4px;
$deleteWidth: 3em;

.manageUsers {
  background: $bg-2;
  position: relative;
}

$maxWidth: 50em;
$headerHeight: 5em;
.header {
  display: flex;
  flex-direction: row;
  height: $headerHeight;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: $maxWidth;
  gap: 10px;
  padding: 0 $scrollBarWidth;

  h1 {
    flex-grow: 1;
    margin-bottom: 0;
    text-align: center;
  }

  button {
    border-radius: 5px;
    background: $bg;
    width: $deleteWidth;
    height: $deleteWidth;

    .headerBtnWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.saveBtn {
      .headerBtnWrapper {
        color: $green;
      }
    }

    &:hover {
      background: $bg-1;
    }
  }
}

.users {
  display: flex;
  flex-direction: column;
  max-width: $maxWidth;
  width: 100%;
  height: calc(100% - #{$headerHeight});
  overflow-y: scroll;
  padding-left: $scrollBarWidth;
}

.user {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-top: 1px solid rgba(#444, 0.5);
  padding: 5px 10px;
  gap: 10px;

  .name {
    flex-grow: 1;
  }
}

.permissions {
  flex-shrink: 0;
  width: calc(#{$permissionWidth * 2} + #{$permissionPadding});
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: $permissionPadding;
}

.perm {
  width: $permissionWidth;
  height: 2em;
  color: $bg;
  cursor: pointer;
  font-weight: bold;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .pText {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $dur background ease;
    border-radius: 5px;
    background: $red;
    width: 100%;
    height: 100%;
  }

  input:checked ~ .pText {
    background: rgba(saturate($green, 0.8), 0.8);
    background: $green;
    text-shadow: 0px 0px 3px #445;
  }
}

.userHeader {
  background: #dadada;
  border-top: none;
  font-weight: bold;

  .delete {
    height: 0;
    &:hover {
      background: inherit;
    }
  }
}

.delete {
  width: $deleteWidth;
  height: $deleteWidth;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  font-size: inherit;

  &:hover {
    background: rgba(#444, 0.2);

    .deleteIcon {
      color: red;
    }
  }

  .deleteIcon {
    width: $deleteWidth;
    height: $deleteWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $dur * 1.5 color ease;

    svg {
      font-size: 1.25em;
    }
  }
}

.promptWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: $bg;

  h1 {
    margin-bottom: 0;
  }

  &.promptShown {
    display: flex;
  }
}

.prompt {
  height: max-content;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: $radius;
  background-color: $dark-bg-1;
  overflow: hidden;
  z-index: 100;
  min-width: 18em;
  gap: 5px;

  h1 {
    color: $bg;
    width: 100%;
    padding: 15px 15px 5px 15px;
    text-align: center;
  }

  .input {
    padding: 5px 15px;
    background: none;
    width: 100%;
    background: $dark-bg-1;

    input {
      width: 100%;
      outline: none;
      background-color: $dark-bg-2;
      border-radius: $radius;
      padding: 8px;
      color: $bg;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
      flex-shrink: 0;
      transition: $dur all ease;
      background: $dark-bg-1;

      &:hover {
        background: $dark-bg;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2em;
      border-radius: 0;
      font-weight: bold;
    }

    .save {
      // background-color: $green;
      color: $green;
    }

    .cancel {
      color: #ff3b3b;
    }
  }
}

.createPerms {
  margin: 0 auto;
  gap: 10px;
  width: calc(#{$permissionWidth * 2} + 10px);
}

// .delete {
//   .buttons {
//     .save {
//       color: #ff3b3b;
//     }

//     .cancel {
//       color: $bg;
//     }
//   }
// }

.promptBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
