@import "/src/global/variables";

#bubbles {
  position: fixed;
  width: 20em;
  right: 2em;
  bottom: 2em;
  transition: $dur height ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
