@import "/src/global/variables";

.sidebar {
  grid-area: s;
  width: $headerHeight;
  transition: $dur width ease;
  background: $dark-bg;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid black;
  will-change: width;
  flex-shrink: 0;

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &.opened {
    width: $sidebarOpen;
  }
}
