@import "/src/global/variables";

.sidebar {
  grid-area: s;
  width: $headerHeight;
  transition: $dur width ease;
  background: $dark-bg;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &.opened {
    width: $headerOpen;
  }
}
