@import "global/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color;
  background: $bg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input {
  border: none;
  padding: 10px;
  color: $color;
  background-color: $dark-bg-2;
  // border-radius: $radius;
  transition: $dur background ease, $dur color ease, $dur opacity ease;
  outline: none;
  opacity: 1;
}

input:focus {
  box-shadow: -1px -1px 1px $accent, -1px 0 1px $accent, 0 -1px 1px $accent,
    1px 0 1px $accent, 0 1px 1px $accent, 1px 1px 1px $accent, 0 0 1px $accent;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="submit"] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

button,
input[type="submit"],
input[type="button"] {
  &:hover {
    background-color: $dark-bg-1;
  }
}

#root {
  width: 100%;
  height: 100%;
}

hr {
  border-color: $sepColor;
  border: none;
  border-bottom: 1px solid $sepColor;
  margin: 0 0.75em;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}
