@import "/src/global/variables";
$fileHeight: 3.5em;

.file {
  padding: 0 20px;
  width: 100%;
  height: $fileHeight;

  & > * > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

$hoverColor: rgba(#444, 0.2);
.fileWrapper {
  max-width: 80em;
  border-top: 1px solid rgba(#444, 0.5);
  // margin: 0 5px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 5px;
  transition: 150ms background ease;
  cursor: pointer;

  &:hover {
    background: $hoverColor;
  }
}

.fileIcon {
  width: $fileHeight;
  height: $fileHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;

  img {
    height: 100%;
  }
}

.name {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  user-select: text;
}

.date {
  width: 6.5em;
  text-align: center;
  font-size: 0.9em;
}

.dateSingleLine {
  composes: date;
  line-height: normal;
}

.size {
  width: 5em;
}

.header {
  background: #dadada;

  .fileWrapper {
    border-top: none;
    cursor: default !important;

    &:hover {
      background: inherit;
    }
  }
}

.selected {
  background: rgb(173, 216, 230);

  &:hover {
    background: rgba(92, 178, 231, 0.8);
  }
}
