@import "/src/global/variables";
$fileHeight: 4em;
// $fileHeight: calc(#{fileHeight} - 3px * 2);

.file {
  padding: 0 20px;
  width: 100%;
  height: $fileHeight;

  & > * > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
}

.fileWrapperWrapper {
  max-width: 80em;
  width: 100%;
  border-top: 1px solid rgba(#444, 0.5);
  margin: 0 auto;
  height: 100%;
}

$hoverColor: rgba(#444, 0.2);
.fileWrapper {
  // margin: 0 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 5px;
  transition: 150ms background ease;
  cursor: pointer;
  height: 100%;
  border: 3px solid transparent;

  &:hover {
    background: $hoverColor;
  }
}

.fileIcon {
  width: $fileHeight;
  height: $fileHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;

  img {
    height: 100%;
  }
}

.name {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  user-select: text;
}

.date {
  width: 6.5em;
  text-align: center;
  font-size: 0.9em;
}

.dateSingleLine {
  composes: date;
  line-height: normal;
}

.size {
  width: 5em;
}

.header {
  background: #dadada;
  border-top: none;

  .fileWrapperWrapper {
    border-top: none;
  }

  .fileWrapper {
    cursor: default !important;

    &:hover {
      background: inherit;
    }
  }
}

.selected {
  background: rgb(173, 216, 230);

  &:hover {
    background: rgba(92, 178, 231, 0.8);
  }
}

.file-highlight {
  .file {
    background-color: rgba(167, 235, 43, 0.473);
  }
}

.dragover {
  border: 3px solid lightblue;
  background-color: #dadada;
}
